* {
  box-sizing: border-box;
  transition: all .4s;
}

body {
    background-color: #333;

    --error-color: #F4171D;
}

.title {
    color: indianred;
    text-align: center;
    font-family: sans-serif;
    font-size: 1.6rem;
}

.controllers {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.controllers * {
    width: 100%;
    padding: 5px 10px;
    margin: 3px;
}

.controllers input[type=text] {
    background-color: #333;
    color: #fefefe;
    border: 0;
    border-bottom: 2px solid #222;
}

.controllers input[type=text]:focus {
    outline: 0;
    border-bottom: 2px solid indianred;
}

.controllers input[type=text].error {
    outline: 0;
    border-bottom: 2px solid var(--error-color);
}

.controllers input[type=text].error:focus {
    outline: 0;
    border-bottom: 2px solid var(--error-color);
}

.controllers input[type=button] {
    color: #bbb;
    background-color: #222;
    border-radius: 5px;
    border: 0;
    padding: 10px;
    outline: none;
}

.controllers input[type=button]:hover {
    box-shadow: 1px 1px 3px 0px black;
}

.result {
    width: 100%;
    margin-top: 20px;
}

.result .message {
    width: 90%;
    padding: 10px 20px;
    display: block;
    word-wrap: break-word;
    color: #ddd;
    margin-left: 5%;
    background-color: #555;
    min-height: 200px;
}